* {
    padding: 0;
}

body {
    background-color: #273238;
}

header {
    background-color: #fff;
    height: 80px;
}

header h1 {
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
    color: #698593;
    font-size: 60px;
}

p {
    color: #d0d8dc;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.container-image {
    border: 5px solid #e6cbbf;
    width: 500px;
    height: 146px;
    margin-left: 50px;
}

.aspiradoras img{
    border-left: 1px solid #273238;
    border-top: 1px solid #273238;
}

.aspiradoras h2 {
    color: #e6cbbf;
    font-family: Arial, Gadget, sans-serif;
}

.container-image-cel {
    border: 5px solid #a1c1cb;
    width: 500px;
    height: 146px;
    margin-left: 50px;
}

.celulares img {
    border-left: 1px solid #273238;
    border-bottom: 1px solid #273238;
}

.celulares h2 {
    color: #a1c1cb;
    font-family: Arial, Gadget, sans-serif;
}

.container-image-consolas {
    border: 5px solid #bcbdbf;
    margin-left: 50px;
    width: 500px;
    height: 146px;
}

.consolas img {
    border-top: 1px solid #273238;
    border-left: 1px solid #273238;
    border-bottom: 1px solid #273238;
    
}

.consolas h2 {
    color: #bcbdbf;
    font-family: Arial, Gadget, sans-serif;
}

.container-image-home {
    border: 5px solid #8d94a1;
    margin-left: 50px;
    width: 500px;
    height: 146px;
}

.home-theaters img {
    border-top: 1px solid #273238;
    border-left: 1px solid #273238;
    width: 500px;
    height: 146px;
}



.home-theaters h2 {
    color: #8d94a1;
    font-family: Arial, Gadget, sans-serif;
}

.container-image-tv {
    border: 5px solid #b2b2aa;
    margin-left: 50px;
    width: 500px;
    height: 146px;
}

.televisores img {
    border-left: 1px solid #273238;
    border-bottom: 1px solid #273238;
 
    
}

.televisores h2 {
    color: #b2b2aa;
    font-family: Arial, Gadget, sans-serif;
}

