

body {
    background-color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
}

.container-image-logo {
    height: 300px;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #BB5397;
    letter-spacing: 15px;
}

h2 {
    color: #BB5397;
    letter-spacing: 5px;
}

p {
    color: #63AADD;
}

.container-disney-pop {
    display: flex;
    margin: 5px;
}


.disney-pop .cointaner-pop-img {
    float: right;
    height: 250px;
    margin: 0 10px;
   
    
}

.container-disney-caribbean {
    display: flex;
    margin: 5px;

}

.caribbean-img {
    float: left;
    height: 250px;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
}


.container-animal {
    display: flex;
    margin: 5px;
}

.container-animal-img {
    float: right;
    height: 250px;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
}

.cointaner-final {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.mickey-minnie-img {
    width: 100%;
}

@media screen and (max-width: 680px) {
    .container-image-logo {
        height: 150px;
    }
}