* {
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #289688;
}

header h1 {
    color: #fcea3e;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.container img {
    border: 8px solid #fff;
    margin: 7px;
}

